<div class="center">
  <h1>Questions and Answers</h1>

  <p>Where there's no such thing as a stupid question.</p>
  <hr>
</div>

{{#each model.questions as |question|}}
  {{question-tile question=question destroyQuestion="destroyQuestion"}}
{{/each}}

{{new-question saveQuestion2="saveQuestion3"}}
